[Unit]
Description=OTA-Server
After=syslog.target

[Service]
Type=simple
User=otaserver
Group=otaserver
WorkingDirectory=/etc/ota-server
ExecStart=/etc/ota-server/server.py --dir /etc/ota-server/firmware
SyslogIdentifier=otaserver
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
